<div class="row collapse">
  <div class="small-2 columns"><span class="prefix">$</span></div>
  <div class="small-10 columns" id="high-bid-container"><%= text_field_tag :nothing, @item.highest_bid_amount, disabled: true %></div>
</div>
